.root {
  :global(.loading-dots) {
    height: 40px;
  }

  :global(.list-items-container) {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(var(--column-count), 1fr);

    @media screen and (width <= 600px) {
      grid-template-columns: minmax(200px, 375px);
      justify-content: center;
    }
  }
}
