.status {
  height: 100%;
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 8px;
  color: var(--theme-text-tertiary);
  text-align: center;
  padding: 8px;
}

.article {
  height: 100%;
  overflow: auto;
  padding: 16px 20px;
  background: var(--theme-background-primary);
  color: var(--theme-text-primary);
  font-size: 14px;
  line-height: 1.6;
  cursor: auto;

  :global(img),
  :global(video) {
    max-width: 100%;
    height: auto;
  }

  :global(a) {
    color: var(--theme-text-link);
  }

  :global(a:hover) {
    color: var(--theme-text-link-hover);
  }

  :global(table) {
    max-width: 100%;
    display: block;
    overflow-x: auto;
  }

  :global(h1),
  :global(h2),
  :global(h3),
  :global(h4) {
    line-height: 1.25;
  }

  :global(.mw-editsection) {
    display: none;
  }
}

.title {
  font-size: 24px;
  line-height: 1.25;
  border-bottom: 1px solid var(--theme-border-subtle);
  padding-bottom: 8px;
  margin: 0 0 16px;
}

.categories {
  margin-top: 24px;
  padding-top: 8px;
  border-top: 1px solid var(--theme-border-subtle);
  color: var(--theme-text-tertiary);

  :global(a) {
    color: var(--theme-text-link);
  }
}
